@mixin square-pseudo($pseudo: before, $square-size: 0) {

    width: $square-size;

    &::#{$pseudo} {
        content: "";
        display: block;
        width: 100%;
        pointer-events: none;
        padding-top: 100%;
    }
}
